---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
        <span class="post-meta">
          <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="dateCreated datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>
          {% if post.last_modified %}
            • <time datetime="{{ post.last_modified | date_to_xmlschema }}" itemprop="dateModified">Edited {{ post.last_modified | date: "%b %-d, %Y" }}</time>
          {% endif %}
        </span>

        <div style="display: none;" itemprop="dateCreated datePublished">{{ post.date | date: "%FT%T+02" }}</div>
        {% if post.last_modified %}
        <div style="display: none;" itemprop="dateModified">{{ post.last_modified | date: "%FT%T+02" }}</div>
        {% endif %}

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}" itemprop="name">{{ post.title }}</a>
        </h2>
        <p itemprop="description">{{ post.excerpt }}</p>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
